streamlit
pandas
numpy
requests
plotly
folium
streamlit-folium
streamlit-js-eval
supabase
python-dotenv
better-profanity
scikit-learn
pytz
matplotlib
pdfplumber
pydeck
pillow
beautifulsoup4
openai
anthropic
trafilatura
geopy
branca
defusedxml
streamlit-autorefresh
